[Desktop Entry]
Type=Application
Name=Pulse Web
Comment=Browse the web from MoonOS
Exec=firefox-esr
Icon=moonos-browser
Terminal=false
Categories=Network;WebBrowser;
