[Desktop Entry]
Type=Application
Name=MoonOS Performance Mode
Name[ja]=MoonOS パフォーマンスモード
Comment=Choose a system power profile for gaming
Exec=moonos-performance
Icon=moonos-performance
Terminal=false
Categories=Game;Settings;
